<style>
    .dotted {
        border-top: 1px dotted #ddd;
    }
    .text-left {
        text-align: left !important;
    }
</style>

<div class="form-horizontal clearfix" style="margin-top: 20px">
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">主机名：</div>
        <div class="col-md-7 control-label text-left">斐济</div>
    </div>

    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">管理IP：</div>
        <div class="col-md-7 control-label text-left">192.168.10146</div>
    </div>

    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">序列号：</div>
        <div class="col-md-7 control-label text-left">Parallels-1A 1B CB 3B 64 66 4B 13 86 B0 86 FF 7E 2B 20 30</div>
    </div>

    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">状态：</div>
        <div class="col-md-7 control-label text-left">空闲</div>
    </div>

    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">更新时间：</div>
        <div class="col-md-7 control-label text-left">2017-04-17</div>
    </div>
    <div class="dotted col-md-12"></div>
</div>

