{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <style>
        .content {
            margin-left: 20px;
        }
        .content a{
            display: block;
        }
    </style>
{% endblock %}

{% block menus %}
    {{ menu_string | safe }}
{% endblock %}

{% block content %}
<div  style="padding: 20px 40px">
    <h1>添加配置</h1>
{% if msg %}
    <div class="errornote">{{ msg }}</div>
{% endif %}

<form method="post" id="asset_form" novalidate>
<fieldset class="module aligned">
        <div class="form-row field-name">
            <div>
                    <label>CPU:</label>
                        <input type="text" name="cpu" class="vTextField" maxlength="32" required="" >
            </div>
        </div>


        <div class="form-row field-price">
                <div>
                        <label for="id_mem">内存:</label>
                            <input type="text" name="mem" class="vTextField" maxlength="32" id="id_mem">
                </div>
        </div>

        <div class="form-row field-sn">
                <div>
                        <label for="id_harddisk">硬盘:</label>
                            <input type="text" name="harddisk" class="vTextField" maxlength="32" required="" id="id_harddisk">
                </div>
        </div>

        <div class="form-row field-after_sales">
                <div>
                        <label for="id_gpu">显卡:</label>
                            <input type="text" name="gpu" class="vTextField" maxlength="128" id="id_gpu">
                </div>
        </div>
        <div class="form-row field-note">
                <div>
                    <label for="id_screen">显示器:</label>
                        <input type="text" name="screen" class="vTextField" maxlength="128" id="id_screen">
                        </select>
                </div>
        </div>
    <br>
<input type="submit" value="Save" class="default" style="float: left;margin-left: 10px">
</fieldset>




</form>
</div>
{% endblock %}

{% block js %}
{% endblock %}