{% extends 'layout.html' %}

{% block css %}
    <style>
        .name {
            display: inline-block;
            padding: 7px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block menus %}
    {{ menu_string | safe }}
{% endblock %}

{% block content %}
    <h3 style="margin-left: 15px">对比结果：</h3>
    <table style="margin-left: 15px">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Result</th>
            </tr>
            {% for k,v in accounts.items %}
                <tr>
                    <td>{{ k }}</td>
                    <td>
                        {% for account in v %}
                            <span class="name">{{ account }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        $('tr:eq(0)').css('background-color','#B2E0FF')
    </script>
{% endblock %}