{% extends 'layout.html' %}

{% block css %}
    <style>
        .name {
            display: inline-block;
            padding: 7px;
            background-color: #dddddd;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <h3>比较结果：</h3>
    <table>
        <tbody>
            {% for k,v in accounts.items %}
                <tr>
                    <td>{{ k }}</td>
                    <td>
                        {% for account in v %}
                            <span class="name">{{ account }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
{% endblock %}