    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>练习：用户管理</title>
        <script src="bootstrap/vue.js"></script>
        <script src="bootstrap/vue-resource.min.js"></script>
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
        <style>
            .current {
                background: #ccc;
            }
        </style>
    </head>
    <body>
    <div id="itany">
        <h3>{{ msg }}</h3>
    </div>
    <script>
            Vue.config.devtools=false;
            Vue.config.productionTip=false
            var vm = new Vue({

                data:{
                    msg:'tomorrow is another day'
                },
                methods:{
                    change(){
                        this.msg='love appeared when one day i met you'
                    }
                },
                computed: {
                    msg2:function() {
                        return '知己知彼百战百胜'
                    },
                },
                iron:'the land of ice and snow'
            })

            vm.$mount('#itany')
    </script>
    </body>
    </html>