<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>练习：用户管理</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="bootstrap/jquery.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
</head>
<body>
<div id="itany">
    <span>输入姓名 :</span>
    <input type="text" @keydown.13="show">
</div>
<script>
        Vue.config.devtools=false;
        Vue.config.productionTip=false
        new Vue({
            el:'#itany',
            data:{
                msg: 'the sprit of china',
                flag:true,
                users:[{name:'alex',age:18,email:'alex@163.com'},
                {'name':'wusir','age':17,email:'wusir@163.com'}],
                user:{},
                nowIndex:-1
            },
            methods:{
                show() {
                    console.log('您按了回车')
                },
                write() {
                    console.log(222)
                }
            }
        })

</script>
</body>
</html>